@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --font-primary: "Roboto", sans-serif;

  --font-size-xl: clamp(2rem, 2.5vw + 0.5rem, 2.5rem); /* 32px - 40px */
  --font-size-sm: clamp(1rem, 1.2vw + 0.5rem, 1.25rem); /* 16px - 20px */
  --font-size-xs: clamp(0.875rem, 1vw + 0.5rem, 1rem); /* 14px - 16px */

  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --line-height-110: 1.1;
  --line-height-150: 1.5;

  --letter-spacing: 1px;

  /* COLORS */
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);

  --Spacing: 1.3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  color: var(--Dark-Slate-Grey);
  height: 100vh;
}

h1 {
  margin: 0;
  letter-spacing: var(--letter-spacing);
}
p,
li {
  line-height: var(--line-height-150);
}
h2 {
  font-size: var(--font-size-xl);
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  width: 100%;
}
.container {
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container > div h1,
.container > div p,
ul,
.contact-form input[type="email"] {
  margin-block-end: var(--Spacing);
}

ul li {
  position: relative;
  list-style: none;
  padding-inline-start: 2rem;
  margin-block-end: 0.5rem;
}
ul li::before {
  content: url("/assets/images/icon-list.svg");
  position: absolute;
  left: 0px;
  top: 0px;
}

.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
}

.contact-form input,
.contact-form-response input {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  display: block;
}

.contact-form-emailGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-form-emailGroup label {
  display: inline-block;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  margin-block-end: 0.5rem;
}
.contact-form-emailGroup span {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  margin-block-end: 0.5rem;
  color: var(--form-error-color);
}
.contact-form input[type="email"] {
  border: 1px solid var(--Grey);
}

.contact-form .valid {
  border: thin solid var(--form-ok-color) !important;
  background-color: rgb(234, 255, 234);
  color: var(--form-ok-color);
}
.contact-form .invalid {
  border: thin solid var(--form-error-color) !important;
  background-color: rgb(255, 228, 228);
  color: var(--form-error-color);
}

.shake {
  animation: error-shake 0.5s ease-in-out;
}
@keyframes error-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.button {
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: var(--Tomato);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.contact-form-response {
  place-items: center;
  height: 100%;
  padding: 8rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--White);
}
.response-description img {
  max-width: 50px;
  height: auto;
}
.response-description img,
.response-description h2,
.response-description p {
  padding-block-end: 1.3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.none {
  display: none;
}

@media (width > 768px) {
  body {
    display: flex;
    align-items: center;
    place-content: center;
    height: 100vh;
    background-color: var(--Dark-Slate-Grey);
  }
  main {
    flex-direction: row-reverse;
    align-items: stretch;
    padding: 2rem;
    min-width: 62.5rem;
    max-height: 37.5rem;
    border-radius: 2rem;
    background-color: var(--White);
  }

  img {
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  .left,
  .right {
    width: calc(50% - 1.5rem);
  }

  .container {
    --Spacing: 1.5rem;
    justify-content: center;
  }
  h1 {
    font-size: 3.5em;
  }

  .contact-form-response {
    justify-content: flex-start;
    max-width: 23rem;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    padding: 2.5rem;
    border-radius: 1rem;
  }

  .response-description img {
    min-width: inherit;
  }
}
